<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GTraveling</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="hdpi" src="res/mipmap-hdpi/GTraveling.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/GTraveling.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/GTraveling.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/GTraveling.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/GTraveling.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^8.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="AIzaSyDXQagH1RDCKVFMEcKxPlSmNqu-ZwOixqg)" />
    <preference name="GOOGLE_MAPS_IOS_API_KEY" value="(AIzaSyDXQagH1RDCKVFMEcKxPlSmNqu-ZwOixqg)" />
</widget>
