/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    
    /* background-image: url(../img/background-2.jpg);
    background-size: cover; */

    
    background-image:linear-gradient(top, rgb(81, 47, 6) 0%, rgb(198, 156, 109) 90%);
    background-image:-webkit-linear-gradient(top, rgb(81, 47, 6) 0%, rgb(198, 156, 109) 90%);
    background-image:-ms-linear-gradient(top, rgb(81, 47, 6) 0%, rgb(198, 156, 109) 90%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(81, 47, 6)),
        color-stop(0.9, rgb(198, 156, 109))
    );
    background-attachment:fixed;
    font-family: 'Dancing Script', cursive;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /* background-color: #7b7979;
    opacity: 0.7; */
    width: 100%;
    height: 100vh;
    text-align:center;  
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

img.plus {
    position: absolute;
    right: 20px;
    padding-top: 20px;
}

.map {
    height: 100%;
    width: 100%;
}
#map {
    position: relative;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#333333;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#6C0388;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/* TOOLBAR */
.toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    border: none;
    background: 
    linear-gradient(
      to left, 
      rgb(251, 201, 38) 0%,
      rgb(253, 237, 176) 25%,
      rgb(195, 146, 46) 60%,
      rgb(238, 214, 136) 100%
    )
    left 
    top
    rgb(81, 47, 6)
    no-repeat; 
  background-size: 100% 1px;
}
.toolbar .row {
    display: flex;   
    flex-direction: row;
}
.toolbar .col {
    text-align: center;
    background-color: transparent;
    width: 100%;
    padding: 10px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolbar .col:last-child {
    border-right: none;
}



/* NUOVO ITINERARIO */
.new-itinerary {
    padding: 15px;
    text-align: left;
}
.new-itinerary .row {
    padding: 10px 0;
    display: flex;
    margin: 0;
}
.new-itinerary .row:first-child {
    display: flex;
    justify-content: center;
}
.new-itinerary .row:last-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.new-itinerary .row .col-4 {
    width: 100px;
}
.new-itinerary .row:nth-child(7) .col-8 {
    display: flex;
    align-items: center;
}
.new-itinerary .row h2 {
   background: -webkit-linear-gradient(#fbc926, #fdedb0, #eed688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin: 0 0 10px;
    text-align: center;
}
.new-itinerary .row label {
    font-size: 22px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fbc926, #fdedb0, #eed688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-itinerary .row input {
    border: none;
    text-align: left;
    color: #fff;
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
    padding-left: 15px;
    background: 
    linear-gradient(
      to left, 
      rgb(251, 201, 38) 0%,
      rgb(253, 237, 176) 25%,
      rgb(195, 146, 46) 60%,
      rgb(238, 214, 136) 100%
    )
    left 
    bottom
    transparent    
    no-repeat; 
  background-size: 100% 1px ;
}
.new-itinerary .show {
    display: flex;
    justify-content: space-evenly !important;
}
.new-itinerary .show .col-6 {
    font-size: 22px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fbc926, #fdedb0, #eed688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-itinerary .row input:focus {
    outline: none;
}
.new-itinerary .row input::placeholder {
    color: #fff;
}
.new-itinerary .row select {
    border: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: 
    linear-gradient(
      to left, 
      rgb(251, 201, 38) 0%,
      rgb(253, 237, 176) 25%,
      rgb(195, 146, 46) 60%,
      rgb(238, 214, 136) 100%
    )
    left 
    bottom
    transparent    
    no-repeat; 
  background-size: 100% 1px;
  /* padding-left: 15px; */
}
.new-itinerary .row select option {
    color: #333 !important;
}
.new-itinerary .row select:focus {
    outline: none;
}
.new-itinerary .row .col-6 input {
    display: inline-block;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}
.new-itinerary .showCity {
    width: 100px;
    height: 100px;
    background-color: slateblue;
}
.new-itinerary .showTour {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}
.new-itinerary .row .save {
    font-size: 22px;
    padding: 8px 30px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, 
    rgb(251, 201, 38) 0%,
    rgb(253, 237, 176) 25%,
    rgb(195, 146, 46) 60%,
    rgb(238, 214, 136) 100%);
    border-image-slice: 1;
    font-family: 'Dancing Script', cursive;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    background-color: transparent;
    color: #fff;
}



/* LIBRARY */
.library {
    padding: 0;
}
.library .row {
    display: flex;
    width: 100%;
    border: none;
    background: 
    linear-gradient(
      to left, 
      rgb(251, 201, 38) 0%,
      rgb(253, 237, 176) 25%,
      rgb(195, 146, 46) 60%,
      rgb(238, 214, 136) 100%
    )
    left 
    bottom
    transparent    
    no-repeat; 
    background-size: 100% 1px;
    padding: 30px;
    margin: 0;
}
.library .row .col-3 {
    width: 100%;
}
.library .row .col-3 p {
    transform: rotate(90deg);
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
.library .lista {
    color: #fff;
}


/* USER */
.user {
    padding: 15px;
    text-align: left;
}
.user .row {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.user .row:first-child {
    display: flex;
    justify-content: center;
}
.user .row .col-4 {
    width: 100%;
}
.user .row label {
    font-size: 24px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fbc926, #fdedb0, #eed688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user .row .col-8 {
    border: none;
    text-align: center;
    font-size: 24px;
    display: block;
    background: 
    linear-gradient(
      to left, 
      rgb(251, 201, 38) 0%,
      rgb(253, 237, 176) 25%,
      rgb(195, 146, 46) 60%,
      rgb(238, 214, 136) 100%
    )
    left 
    bottom
    transparent    
    no-repeat; 
  background-size: 100% 1px;
  max-width: 230px;
}
.user .row .col-8 p {
    background: -webkit-linear-gradient(#fbc926, #fdedb0, #eed688);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 0;
}
.user .row .col-10 {
    width: 85%;
    padding-left: 30px;
}
.user .row img {
    margin-top: 1.5rem;
    margin-block-end: 3rem;
}
.user .row:last-child {
    margin-top: 1.5rem !important;
}
.user .row button {
    background-color: transparent;
    border: none;
}
.user .row button:focus {
    outline: none;
}
.user .row button img {
    margin: 0; 
}