/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#DD87F0;
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width: 350px;
    text-align:center;
    padding:15px 15px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
     /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        /*padding:75px 0px 75px 170px;*/  /* padding-top + padding-bottom + text area = image height */
        /*margin:-90px 0px 0px -198px;*/  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

img.plus {
    /* scommentare in cordova */
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#333333;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#6C0388;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* TOOLBAR */
.toolbar {
    /* scommentare in cordova */
    position: absolute;
    bottom: 0;
    
    border-top: 1px solid #6c0388;
    background-color: transparent;
}
.toolbar .row {
    display: flex;   
    flex-direction: row;
}
.toolbar .col {
    border-right: 1px solid #6c0388;
    text-align: center;
    background-color: transparent;
    width: 100%;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolbar .col:last-child {
    border-right: none;
}

/* NUOVO ITINERARIO */
.new-itinerary {
    padding: 15px;
    text-align: left;
}
.new-itinerary .row {
    padding: 10px 0;
    display: flex;
}
.new-itinerary .row:first-child {
    display: flex;
    justify-content: center;
}
.new-itinerary .row:last-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.new-itinerary .row .col-4 {
    width: 80px;
}
.new-itinerary .row:nth-child(7) .col-8 {
    display: flex;
    align-items: center;
}
.new-itinerary .row h3 {
    color: #6c0388;
    margin: 0 0 10px;
    font-size: 20px;
    text-align: center;
}
.new-itinerary .row label {
    font-size: 18px;
    font-weight: bold;
}
.new-itinerary .row input {
    border: none;
    border-bottom: 1px solid #6c0388;
    background-color: transparent;
    text-align: left;
    color: #6c0388;
    font-size: 16px;
    display: block;
}
.new-itinerary .row input:focus {
    outline: none;
}
.new-itinerary .row input::placeholder {
    color: #6c0388;
}
.new-itinerary .row select {
    border: none;
    border-bottom: 1px solid #6c0388;
    background-color: transparent;
    text-align: center;
    color: #6c0388;
    font-size: 16px;
}
.new-itinerary .row select:focus {
    outline: none;
}
.new-itinerary .row .col-6 input {
    display: inline-block;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

/* USER */
.user {
    padding: 15px;
    text-align: left;
}
.user .row {
    padding: 10px 0;
    display: flex;
}
.user .row:first-child {
    display: flex;
    justify-content: center;
}
.user .row .col-4 {
    width: 100%;
}
.user .row label {
    font-size: 18px;
    font-weight: bold;
}
.user .row input {
    border: none;
    border-bottom: 1px solid #6c0388;
    background-color: transparent;
    text-align: left;
    color: #6c0388;
    font-size: 16px;
    display: block;
}
.user .row input:focus {
    outline: none;
}
.user .row input::placeholder {
    color: #6c0388;
}
.user .row select {
    border: none;
    border-bottom: 1px solid #6c0388;
    background-color: transparent;
    text-align: center;
    color: #6c0388;
    font-size: 16px;
}
.user .row select:focus {
    outline: none;
}
.user .row .col-10 {
    width: 85%;
}